<div class="container row comments">

 
    <div class="card post comment-box">
    <div class="card-body post-body">
        <div class="card-text comment-text">
            {{content}}
        </div>
        <div class="comment-author">
           By {{user.username}}, 
        </div>
        <div class ="comment-date">
            Commented on: {{date_commented}}
        </div>
    </div>
    </div>
 
</div>
<script>console.log('Here')</script>