<div class="container row">
<div class="comments">
  {{#each this}}
    <div class="card post comment-box">
    <div class="card-body post-body">
        <div class="card-text comment-text">
            {{comment_text}}
        </div>
        <div class="comment-author">
            -{{user.username}}, {{date_commented}}
        </div>
    </div>
    </div>
  {{/each}}
</div>
</div>