<main>
    {{#each blogs as |blog|}}

    <section id="catCard">
        <a href="/{{cat.id}}" id="cardContent">
            <h1 id="cat_name"> {{cat.name}} </h1>
            <img class="catProfile" src="./Cats/{{cat.name}}.jpg" alt="CatPicture">
            <h2 id="breed">{{cat.breed}}</h2>

        </a>
    </section>
    {{/each}}
</main>