<div class="col text-bg-light mb-3border p-3 border-black rounded-2">
    <h2 class="title column pb-4">Something on your mind? Why not talk about!</h2>
    <form id="post-form" class="card-body">
        <div class="form-row">
            <input id="post-title" type="text" autofocus="true" class="form-input form-control" placeholder="Title" />
        </div>
        <div class="form-row mb-3">
            <textarea id="post-content" type="text" autofocus="true" class="form-input form-control"
                placeholder="Content"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="post-btn " >Post</button>
    </form>
</div>

{{#each posts as |post| }}
<article class="post">
    {{> post-details post}}
</article>
{{/each}}

<script src=".././public/js/post.js"> 
</script>